* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 20px;
  position: relative;
  top: 60%;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.rating {
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: white;
}

.quote-icon {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 14px;
}

.image {
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.image img {
  width: 50%;
}

.social-icons a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.social-icons a:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}
